<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>bad security</title>
  </head>
  <body>
    <h2>Search results:</h2>
    {% if content %}
      <ul>
      {% for note in content %}
        <li>
          <div class="card">
            <p>{{ note.username}} @ {{note.pub_date}}</p>
              <a href="{% url 'note' note.id %}">
                {{ note.note_text | truncatechars:100}}
              </a>
          </div>
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No notes matchin seatch term</p>
    {% endif %}
  </body>
  <style>
    .card {
      width: 40%;
      height: 3;
      border: double;
      padding-bottom: 1em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      margin: 0.5em;
    }
  </style>
</html>